<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="chkSystem" value="UAT" />
    <add key="appListProgramGroupId" value="108" />
    <add key="appViewerProgramGroupId" value="107" />
    <add key="nbUnderwriteProgramGroupId" value="89" />
    <add key="KWBLReportProgramGroupId" value="112" />
    <add key="KWBLManagementProgramGroupId" value="113" />
    <add key="KWBLCloseAccountProgramGroupId" value="114" />
    <add key="KWBLCloseDateEditProgramGroupId" value="115" />
    <add key="KWBLLetterProgramGroupId" value="118" />
    <add key="KWBLCloseAccountFileTextProgramGroupId" value="136" />
    <add key="ApplicationId" value="40" />
    <add key="ImsPathIdOfFromAppSetting" value="1" />
    <add key="nbPaFollowLetter" value="180" />
    <add key="nbPaRejectLetter" value="181" />
    <add key="EKYCDomainURL" value="http://intranetuat.bla.co.th/Ekyc/Landing/newbis"/>
    <add key="SMSAPI_URL" value="http://intranetuat.bla.co.th/SMSCenter" />
    <add key="SMS_WORKCODE_OD" value="NEWBIS_APPSTATUS_OD1" />
    <add key="SMS_WORKCODE_BNC" value="NEWBIS_APPSTATUS_BNC" />

    <!--<add key="nbFollowLetter" value="282" />
    <add key="nbRejectLetter" value="283"/>
   
    <add key="nbPaFollowLetter" value="46" />
    <add key="nbPaRejectLetter" value="42"/>-->
    <!-- newbis letter 
    <add key="nbFollowLetter" value="46" />
    <add key="nbRejectLetter" value="42"/>-->
    <add key="underWriteProgramGroupId" value="47" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ApplicationCode" value="NewBisPA" />
    <add key="AmloNewbisAPI" value="http://intranetuat.bla.co.th/AmloNewbisAPI/api/v1/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_DocServiceContract" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DmsWcfExtServiceEndpoint" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICenterService" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IAccountService" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="Endpoint" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISecurityService" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICashierWcf" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_ILetterService" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_INewBISSvc" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_INewBisPASvc" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IPolicySvc" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="Sms_SvcSoap" />
        <binding name="BasicHttpBinding_IImagemanagementSvc" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" messageEncoding="Mtom" />
        <binding name="BasicHttpBinding_IIdCard" />
        <binding name="BasicHttpsBinding_IIdCard">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_INewBisSvc" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IImproveNewBisSvc" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="ISISAppTransportServiceEndpoint" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws2.bla.co.th/CtDocWCFSvcImpTest/CtDocWcfScv.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocServiceContract"
        contract="ctDocSvcRef.DocServiceContract" name="BasicHttpBinding_DocServiceContract" />
      <endpoint address="http://ws.bla.co.th/DmsServices/DmsWcfExtServiceReference.svc"
        binding="basicHttpBinding" bindingConfiguration="DmsWcfExtServiceEndpoint"
        contract="DmsExtCallService.DmsExtCallServiceContract" name="DmsWcfExtServiceEndpoint" />
      <endpoint address="http://ws7.bla.co.th:88/BankruptService/BankruptServiceReference.svc"
        binding="basicHttpBinding" bindingConfiguration="Endpoint" contract="BankruptSvcRef.BankruptServiceContract"
        name="Endpoint" />
      <endpoint address="http://owssvr.bla.co.th/ISISAppTransportService.uat/ISISAppTransportServiceReference.svc"
        binding="wsHttpBinding" bindingConfiguration="ISISAppTransportServiceEndpoint"
        contract="IsisAppTransportService.IAppTransportServiceContract"
        name="ISISAppTransportServiceEndpoint" />
      <endpoint address="http://intranetUAT.bla.co.th:88/PolicyWcfSvc/PolicyWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPolicySvc"
        contract="PolicySvcRef.IPolicySvc" name="BasicHttpBinding_IPolicySvc" />
      <endpoint address="http://intranetuat.bla.co.th:88/SMS_Wsvc/SMS_Wsvc.asmx"
        binding="basicHttpBinding" bindingConfiguration="Sms_SvcSoap"
        contract="smsSvcRef.Sms_SvcSoap" name="Sms_SvcSoap" />
      <endpoint address="http://intranetuat.bla.co.th:88/CenterWcfSvc/CenterWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICenterService"
        contract="CenterSvcRef.ICenterService" name="BasicHttpBinding_ICenterService" />
      <endpoint address="http://intranetuat.bla.co.th:88/SecurityWcfSvc/SecurityWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService"
        contract="SecuritySvcRef.ISecurityService" name="BasicHttpBinding_ISecurityService" />
      <endpoint address="http://intranetuat.bla.co.th:88/AccountWcfSvc/AccountWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
        contract="AccountSvcRef.IAccountService" name="BasicHttpBinding_IAccountService" />
      <endpoint address="http://intranetuat.bla.co.th:88/CashierWcfSvc/CashierWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICashierWcf"
        contract="CashierSvcRef.ICashierWcf" name="BasicHttpBinding_ICashierWcf" />
      <endpoint address="http://intranetuat.bla.co.th:88/ReceiptWcfSvc/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ReceiptSvcRef.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://intranetuat.bla.co.th:88/LetterServiceWcfSvc/LetterServiceWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILetterService"
        contract="LetterSvcRef.ILetterService" name="BasicHttpBinding_ILetterService" />
      <endpoint address="http://10.1.1.50/DopaIdCardService/IdCard.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIdCard"
        contract="DeathSvcRef.IIdCard" name="BasicHttpBinding_IIdCard" />
      <endpoint address="http://intranetuat.bla.co.th:88/ImageManagementWcfSvc/ImagemanagementWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImagemanagementSvc"
        contract="ImageManagementSvcRef.IImagemanagementSvc" name="BasicHttpBinding_IImagemanagementSvc" />
      <endpoint address="http://intranetuat.bla.co.th:88/NewBisWcfSvc/NewBisWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewBISSvc"
        contract="NewBISSvcRef.INewBISSvc" name="BasicHttpBinding_INewBISSvc" />
      <endpoint address="http://intranetuat.bla.co.th:88/NewBisOnlineWcf2/NewBisWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewBisSvc"
        contract="NewBisOnlineWcfRef.INewBisSvc" name="BasicHttpBinding_INewBisSvc" />
      <endpoint address="http://intranetuat.bla.co.th:88/NewBisPAWcfSvc/NewBisPAWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewBisPASvc"
        contract="NewBisPASvcRef.INewBisPASvc" name="BasicHttpBinding_INewBisPASvc" />
      <endpoint address="http://intranetuat.bla.co.th:88/ImproveNewBisWcfSvc/ImproveNewBisWcf.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImproveNewBisSvc"
        contract="ImproveNewBisSvcRef.IImproveNewBisSvc" name="BasicHttpBinding_IImproveNewBisSvc" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>